<script type="text/javascript">    
  $(function(){
	createPodMenu(<%= pod_options.to_json %>);	
  });
</script>

<div class="select-container">
<a tabindex="0" href="#class-menu-items-<%= unique_id %>" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" id="class-menu-<%= unique_id %>"><span class="ui-icon ui-icon-triangle-1-s"></span><%= h(button_text) %></a>

<div id="class-menu-items-<%= unique_id %>" class="hidden">
  <%= element_list %>
</div>

</div>